head
    title= pageTitle
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="description" content="")
    meta(name="keywords" content="")
    meta(name="viewport" content="width=device-width")
    //link(href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow&subset=cyrillic-ext,latin", rel="stylesheet", type='text/css')
    link(rel="stylesheet", href="/css/style.css")